<p id="notice"><%= notice %></p>
<%= stylesheet_link_tag 'index' %>
<div class="container" style="margin-top: 5%;">
  <h1 style="margin-bottom: 50px;">Blogs</h1>
  <% @articles.each do |article| %>
  <div class="row">
    <div class="col" id="cardBox">
      <div class="card">
        <%= image_tag article.poster.url(:medium), class: "card-img-top" %>
        <div class="card-body">
          <h3 class="card-title" style="padding-top: 5px;" id="title"><%= link_to article.title, article %></h3>
          <p><i>Author: </i><%= article.author %></p>
          <p><%= article.created_at.strftime('%d %b %Y')%></p>
          <%= link_to 'Read more', article, class: "btn btn-primary", id: "readMore" %>
        </div>
        <% if user_signed_in? %>
        <br>
        <div class="option">
          <%= link_to '<button class="btn btn-warning" type="button" style="margin-right:5px;">
            <span class="glyphicon glyphicon-pencil" style="padding-right: 5px;">
            </span> 
            Edit</button>'.html_safe, edit_article_path(article) %>
          
          <%= link_to '<button class="btn btn-danger" type="button">
            <span class="glyphicon glyphicon-trash" style="padding-right: 5px;">
            </span> 
            Delete</button>'.html_safe, article, method: :delete, data: { confirm: 'Are you sure?' } %>
        </div>
        <% end %>
      </div>
    </div>
    <br>
  </div>
  <% end %>
  <% if user_signed_in? %>
  <div id="newArticle">
    <%= link_to '<button class="btn btn-primary" type="button">New Article</button>'.html_safe, new_article_path %>
  </div>
  <% end %>
</div>



